@import "./mixins";
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  @include size(100vw, 100vh);
  @include flexCenter(column);
  @include colors(#ffff, #2b2b2b);
}
.html {
  font-size: 62.5%;
}
.main {
  @include size(30.5rem, 90%);
  @include flexCenter(column);
  @include colors(#ffff, #1f1f1f);
  font-size: 1rem;
  overflow: hidden;
  border-radius: 10px;
}
.add-todo {
  margin-top: 3rem;
  @include size(100%, 3rem);
  @include flexCenter();
  border-width: 0;
  transition: all 0.3s;
  .add-todo__text {
    border-radius: 5px;
    @include size(70%, 100%);
    padding: 1rem;
    &:focus {
      outline: none !important;
    }
  }
  .add-todo__btn {
    margin-left: 0.5rem;
    @include size(3rem, 90%);
    border-radius: 5px;
    @include colors(black, #ffff);
    cursor: pointer;
    transition: all 0.2s;
    border-width: 0;
    text-align: center;
    font-size: 2.5rem;
    @include flexCenter(column);
    .fa-check {
      font-size: 1.2rem;
    }

    &:hover {
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
    }
    .fa-plus {
      font-size: 150%;
    }
    .add-icon {
      color: black;
      margin-bottom: 6px;
    }
  }
}
.list-todo-content {
  @include size(90%, 80%);
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 87px;
  padding-left: 107px;
  box-sizing: content-box;
  .content {
    @include size(100%, 5rem);
    margin: 2rem 0;
    border: 1px solid;
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
    @include flexCenter(row, space-between);
    .content_text {
      @include sizeLimit(70%);
      @include textOverflow();
      color: #ffff;
    }
    .date-published {
      @include size(2.5rem, 100%);
      @include colors(black, #ffff);
      border-radius: 15px 0 0 15px;
      @include flexCenter(column, center);
      font-size: 0.8rem;
      font-weight: lighter;
    }
    .control {
      @include size(2rem, 100%);
      @include flexCenter(column, space-around);
      .btn {
        font-size: 1.3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
#app-title {
  margin-top: 0;
  font-weight: lighter;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  @include size(100%, 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  @include flexCenter();
  .editing-frame {
    z-index: 3;
    @include size(30rem, 50%);
    background-color: #1f1f1f;
    border-radius: 15px;
    @include flexCenter(column);
    .edit-box {
      resize: none;
      margin-top: 15px;
      @include size(80%, 70%);
      @include colors(#ffff, inherit);
      padding-top: 1rem;
      border-width: 0;
      &:focus {
        outline: none;
      }
    }
    .control {
      @include size(100%);
      @include flexCenter();
      .edit-btn,
      .cancel-btn {
        @include size(3rem, 3rem);
        border-radius: 5px;
        @include colors(black, #ffff);
        cursor: pointer;
        transition: all 0.2s;
        border-width: 0;
        text-align: center;
        font-size: 2.5rem;
        @include flexCenter();
        margin: 1rem;
        .fa-check {
          font-size: 1.2rem;
        }
        .add-icon {
          padding-bottom: 0.5rem;
        }
      }
      .cancel-btn {
        font-size: 2rem;
        padding-bottom: 0.4rem;
      }
    }
  }
}
@media only screen and (max-width: 46.1875em) {
  .main {
    width: 80%;
  }
}
